# Ignore everything
*
.github/
.git/
# Allow only the wp-content directory
!.gitignore
!wp-content/

# Allow specific subdirectories inside wp-content
!wp-content/themes/
!wp-content/themes/svwp/
!wp-content/themes/svwp/**
!wp-content/themes/svwp.zip
!wp-content/themes/svwp-child/
!wp-content/themes/svwp-child/**
!wp-content/themes/svwp-child.zip

!wp-content/plugins/


!wp-content/plugins/first-plugin-dev/
!wp-content/plugins/first-plugin-dev/**
!wp-content/plugins/first-plugin-dev.zip

# allow uploads directory
!wp-content/uploads/
# Allow specific files in the root directory
!wp-content/uploads/**

!documentation/
!documentation/**

!landing/
!landing/**

!source/
!source/**

# allow sql file for database. if you want to use it.
# database.sql
!wp-content/first-plugin-dev.sql